.header__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgba(255, 255, 255, 0.233);
  background: rgba(31, 42, 99, 1);
}

.menu {
  margin-top: 40px;
  margin-bottom: 35px;
}

.menu__link {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.active {
  position: relative;
}
.active:before {
  content: "";
  position: absolute;
  left: 15%;
  top: 30px;
  width: 80%;
  height: 3px;
  background: #d8e6c4;
  border-radius: 6px;
}

.menu__home {
  margin-right: 75px;
}
.menu__characters {
  margin-right: 160px;
}

.logo {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 157px;
}
