.char-modal {
  /* position: relative; */
  /* display: contents; */
  /* display: none; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-button {
  position: absolute;
  top: -40px;
  right: -15px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal-content {
  position: relative;
  display: flex;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(23, 0, 47, 1) 42%, rgba(31.000001907348633, 42, 99.00000762939453, 1) 100%);
  width: 800px;
  height: 370px;
}

.character-image-section {
  background: rgba(31, 42, 99, 1);
  width: 40%;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.character-image {
  height: 100%;
}

.character-badges {
  display: flex;
  justify-content: end;
  transform: translateX(60%) translateY(-140%);
  max-width: 200px;
  padding-right: 20px;
}

.gender-badge {
  margin-right: 20px;
}

.character-info-section {
  display: flex;
  flex-direction: column;
}

.character-name {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 35px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.character-description {
  padding: 25px;
  width: 265px;
  height: 105px;
  border-radius: 8px;
  background: rgba(253, 253, 253, 1);
  margin-left: 15px;
  margin-bottom: 75px;
}

.character-stats {
  align-items: center;
  margin-left: 15px;
  display: flex;
}

.stat-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 4px 4px 36px 0px rgba(1, 17, 38, 0.2);
  background: rgba(253, 253, 253, 1);
}

.stat-item:not(:last-child) {
  margin-right: 25px;
}

.stat-item-container {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.char__common__number-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 3px solid rgba(33, 33, 33, 1);
  border-radius: 50%;
}
